<%include layout.ejs%>
<div class="panel panel-default">
    <h3> 成功</h3>
    <div class="panel-body">
        <%= message %>
    </div>
    <div class="panel-footer">
        <a href="<%= url %>">返回上一步</a>
    </div>
</div>
